$env:Discord__Token="tokenhere"
$env:Jellyfin__Endpoint="https://endpoint/"
$env:Jellyfin__ApiKey=""
$env:Jellyfin__Enabled="False"
$env:Prometheus__Endpoint="http://localhost:9090/"
$env:Prometheus__Enabled="False"